@charset "UTF-8";

/*
    em HTML é id = em css é # (só pode um elemento)
    em HTML é class = em css é . (pode vários elementos
*/
body{
    background-color: rgb(195, 235, 188);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(14, 113, 5);
}

h2{
    color: rgb(40, 163, 31);
}

h1#principal{
    text-align: center;
    background-color: rgb(40, 163, 31);
    color: white;
}

.basico{
    color: #3c8053;
}

.intermediario{
    color: #92a63a;
}

.avancado{
    color: #c22121;
}

.destaque{
    background-color: rgb(174, 174, 24);
}