body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(16, 243, 190);
}
h1#principal{
    text-align: center;
    color: rgb(10, 80, 154);
}
h1.destaque{
    background-color: bisque;
    color: rgb(24, 74, 181);
}

.basica{
    color: green;
}

.intermediario{
    color: blue;
}

.avancado{
    color: red;
}