body{
    background-color: black;
}
@font-face {
    font-family: "upheavtt";
    src: url(../fonts/upheavtt.ttf) format('opentype');
    font-weight: bold;
    font-style: normal;
}
h1{
    color: #0818ebd9;
    text-align: center;
    font: normal bold 36px "upheavtt",'Times New Roman', serif;
}
h2{
    color: #00c3ff;

}
p{
    color: white;
}