ul li a:visited{
    color: #A591DC;
}
a:link{
    color: black;
}
a:hover{
    color: red;
}
a:active{
    background-color: aqua;
}
ul li:first-child{
    color: blue;
}
ul li:last-child{
    color: red;
}