@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#01738D, #318898);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(136, 109, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #5E0009;
    text-align:center;
    text-shadow: 1px 1px 2px rgba(119, 77, 5, 0.743);
}
h2{
    color: #022E53;
}
p{
    text-align: justify;
}